@import './normalize.css';

/* :root 获取根元素html */
/* --相当于声明了一个全局变量, 用var(--)来使用该属性 */
:root {
    --color-text: #666;
    --color-higt-text: #ff5777;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
    --color-theme: #f08600;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}