@import './normalize.css';

/* :root 获取根元素html */
/* --相当于声明了一个全局变量, 用var(--)来使用该属性 */
:root {
    --color-text: #666;
    --color-higt-text: #ff5777;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
    --color-theme: #f08600;
}

ul, li, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.divide {
    height: 10px;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #333;
    /* display: inline-block; */
}